* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

body.lock {
  overflow: hidden;
}

.anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.anim-show._active,
._active .anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

.header {
  min-height: 100vh;
  background: url("../img/header/header_bg.png") no-repeat top center/cover;
}
.header__body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1230px) {
  .header__top {
    padding-top: calc(15px + 14 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__top {
    padding-top: calc(15px + 14 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .header__top {
    padding-bottom: calc(15px + 14 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__top {
    padding-bottom: calc(15px + 14 * (100vw - 320px) /1140);
  }
}
.header__menu {
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0.5s;
}
.header__menu._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.header__list {
  display: flex;
}
@media (max-width: 650px) {
  .header__list {
    display: block;
  }
}
@media (min-width: 1230px) {
  .header__list li {
    padding-right: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__list li {
    padding-right: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 650px) {
  .header__list li {
    padding-right: 0px;
  }
}
@media (max-width: 650px) and (min-width: 1230px) {
  .header__list li {
    padding-bottom: calc(25px + 5 * (100vw - 320px) /1140);
  }
}
@media (max-width: 650px) and (max-width: 1230px) {
  .header__list li {
    padding-bottom: calc(25px + 5 * (100vw - 320px) /1140);
  }
}
.header__list li:last-child {
  padding: 0px;
}
.header__link {
  color: #ffffff;
  font-family: "Lato - Black";
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767px) {
  .header__link {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .header__link {
    font-size: calc(14px + 4 * (100vw / 1140));
  }
}
@media (max-width: 650px) and (max-width: 767px) {
  .header__link {
    font-size: calc(25px + 17 * ((100vw - 320px) / 1140));
  }
}
@media (max-width: 650px) and (min-width: 767px) {
  .header__link {
    font-size: calc(25px + 10 * (100vw / 1140));
  }
}
.header__link:hover {
  color: #bdbdbd;
  transition: all 0.5s ease 0s;
}
.header__social {
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0.5s;
}
.header__social._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.header__links {
  display: flex;
  align-items: center;
}
@media (min-width: 1230px) {
  .header__links li {
    padding-right: calc(15px + 5 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__links li {
    padding-right: calc(15px + 5 * (100vw - 320px) /1140);
  }
}
.header__links li:last-child {
  padding: 0px;
}
.header__bottom {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.header__subtitle {
  color: #ffffff;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0.5s;
}
@media (max-width: 767px) {
  .header__subtitle {
    font-size: calc(20px + 13.6 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .header__subtitle {
    font-size: calc(20px + 8 * (100vw / 1140));
  }
}
.header__subtitle._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__title {
  background: linear-gradient(45deg, #aa3a67 0%, #fb806b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lato - Black";
  text-transform: uppercase;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.15s;
}
@media (max-width: 767px) {
  .header__title {
    font-size: calc(40px + 68 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .header__title {
    font-size: calc(40px + 40 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .header__title {
    padding-top: calc(15px + 5 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__title {
    padding-top: calc(15px + 5 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .header__title {
    padding-bottom: calc(15px + 5 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__title {
    padding-bottom: calc(15px + 5 * (100vw - 320px) /1140);
  }
}
.header__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__button {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}
@media (min-width: 1230px) {
  .header__button {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__button {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
.header__button._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__button button {
  background-color: transparent;
  color: #ffffff;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #d15c69;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767px) {
  .header__button button {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .header__button button {
    font-size: calc(18px + 6 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .header__button button {
    height: calc(40px + 40 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__button button {
    height: calc(40px + 40 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .header__button button {
    width: calc(200px + 100 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .header__button button {
    width: calc(200px + 100 * (100vw - 320px) /1140);
  }
}
.header__button button:hover {
  background-color: #663536;
  transition: all 0.5s ease 0s;
}
.header__burger {
  display: none;
  z-index: 3;
}
@media (max-width: 650px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}
@media (max-width: 650px) {
  .header__burger:before, .header__burger:after, .header__burger span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger span {
  top: 9px;
}
@media (max-width: 650px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 53, 54, 0.9);
    padding: 80px 0px 20px 20px;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
}
@media (max-width: 650px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
}
@media (max-width: 650px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
@media (max-width: 650px) {
  .header__burger.active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
}
.header__menu.active {
  top: 0;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}

.ingressos {
  background: #000;
}
.ingressos__row {
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .ingressos__row {
    flex-direction: column;
    align-items: center;
  }
}
.ingressos__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 350px;
  padding: 30px;
}
.ingressos__item:first-child {
  margin-right: 30px;
}
@media (max-width: 600px) {
  .ingressos__item:first-child {
    margin: 0px 0px 20px 0px;
  }
}
.ingressos__subtitle {
  color: #ffffff;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .ingressos__subtitle {
    font-size: calc(20px + 17 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .ingressos__subtitle {
    font-size: calc(20px + 10 * (100vw / 1140));
  }
}
.ingressos__price {
  color: #ffffff;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .ingressos__price {
    font-size: calc(40px + 34 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .ingressos__price {
    font-size: calc(40px + 20 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .ingressos__price {
    padding-top: calc(120px + 120 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .ingressos__price {
    padding-top: calc(120px + 120 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .ingressos__price {
    padding-bottom: calc(30px + 10 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .ingressos__price {
    padding-bottom: calc(30px + 10 * (100vw - 320px) /1140);
  }
}
@media (max-width: 767px) {
  .ingressos__price sup {
    font-size: calc(20px + 17 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .ingressos__price sup {
    font-size: calc(20px + 10 * (100vw / 1140));
  }
}
.ingressos__button button {
  background: transparent;
  color: #ffffff;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  width: 100%;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767px) {
  .ingressos__button button {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .ingressos__button button {
    font-size: calc(16px + 8 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .ingressos__button button {
    height: calc(50px + 20 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .ingressos__button button {
    height: calc(50px + 20 * (100vw - 320px) /1140);
  }
}
@media (max-width: 600px) {
  .ingressos__button button {
    border: 2px solid #ffffff;
  }
}
.ingressos__button button:hover {
  background-color: #3b1931;
  transition: all 0.5s ease 0s;
}
.ingressos__about {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1230px) {
  .ingressos__about {
    padding-top: calc(20px + 10 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .ingressos__about {
    padding-top: calc(20px + 10 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .ingressos__about {
    padding-bottom: calc(20px + 10 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .ingressos__about {
    padding-bottom: calc(20px + 10 * (100vw - 320px) /1140);
  }
}
.ingressos__img {
  padding-right: 10px;
}
.ingressos__txt {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.ingressos__copywrite {
  color: #ffffff;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}
.ingressos__text {
  color: #fefefe;
  font-family: Lato;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 767px) {
  .ingressos__text {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .ingressos__text {
    font-size: calc(14px + 8 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .ingressos__text {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .ingressos__text {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .ingressos__text {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .ingressos__text {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1140);
  }
}

.item-ingressos_1 {
  background: url("../img/ingressos/1.png") no-repeat top center/cover;
  transition: all 0.5s ease 0s;
  transform: translate(-100%, 0px);
  opacity: 0;
}
.item-ingressos_1:hover {
  background: url("../img/ingressos/1_1.png") no-repeat top center/cover;
  transition: all 0.5s ease 0s;
}
.item-ingressos_1._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.item-ingressos_2 {
  background: url("../img/ingressos/2.png") no-repeat top center/cover;
  transition: all 0.5s ease 0s;
  transform: translate(100%, 0px);
  opacity: 0;
}
.item-ingressos_2:hover {
  background: url("../img/ingressos/2_2.png") no-repeat top center/cover;
  transition: all 0.5s ease 0s;
}
.item-ingressos_2._active {
  opacity: 1;
  transform: translate(0px, 0px);
}

.title {
  color: #ffffff;
  font-family: "Lato - Black";
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(24px + 23.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(24px + 14 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .title {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .title {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .title {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .title {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1140);
  }
}

.about {
  background: url("../img/about/about_bg.png") no-repeat top center/cover;
}
.about__body {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 1230px) {
  .about__body {
    padding-bottom: calc(50px + 85 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .about__body {
    padding-bottom: calc(50px + 85 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .about__body {
    padding-top: calc(55px + 100 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .about__body {
    padding-top: calc(55px + 100 * (100vw - 320px) /1140);
  }
}
.about__title {
  color: #ffffff;
  font-family: "Lato - Black";
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.8s ease 0s;
  transform: translate(0px, 100%);
  opacity: 0;
}
@media (max-width: 767px) {
  .about__title {
    font-size: calc(27px + 18.7 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .about__title {
    font-size: calc(27px + 11 * (100vw / 1140));
  }
}
.about__title._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.about__text {
  color: #fffefe;
  font-family: Lato;
  font-weight: 400;
  transition: all 0.8s ease 0s;
  transform: translate(0px, 100%);
  opacity: 0;
}
@media (max-width: 767px) {
  .about__text {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .about__text {
    font-size: calc(18px + 4 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .about__text {
    line-height: calc(20px + 16 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .about__text {
    line-height: calc(20px + 16 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .about__text {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .about__text {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .about__text {
    padding-bottom: calc(30px + 50 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .about__text {
    padding-bottom: calc(30px + 50 * (100vw - 320px) /1140);
  }
}
.about__text._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.about__story {
  display: flex;
  flex-direction: column;
}
.about__item {
  display: flex;
  justify-content: space-between;
  transition: all 0.8s ease 0s;
  transform: translate(-100%, 0px);
  opacity: 0;
}
@media (min-width: 1230px) {
  .about__item {
    padding-bottom: calc(20px + 5 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .about__item {
    padding-bottom: calc(20px + 5 * (100vw - 320px) /1140);
  }
}
@media (max-width: 444px) {
  .about__item {
    flex-direction: column;
  }
}
.about__item._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.about__item:last-child {
  padding: 0px;
}
.about__year {
  color: #ffffff;
  font-family: Lato;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .about__year {
    font-size: calc(22px + 17 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .about__year {
    font-size: calc(22px + 10 * (100vw / 1140));
  }
}
@media (max-width: 444px) and (min-width: 1230px) {
  .about__year {
    padding-bottom: calc(10px + 10 * (100vw - 320px) /1140);
  }
}
@media (max-width: 444px) and (max-width: 1230px) {
  .about__year {
    padding-bottom: calc(10px + 10 * (100vw - 320px) /1140);
  }
}
.about__txt {
  color: #fffefe;
  font-family: Lato;
  font-weight: 400;
  max-width: 340px;
}
@media (max-width: 767px) {
  .about__txt {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .about__txt {
    font-size: calc(18px + 4 * (100vw / 1140));
  }
}
.galeria {
  background: #000;
}
.galeria__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galeria__item {
  transition: all 0.8s ease 0s;
  transform: translate(0px, 50%);
  opacity: 0;
}
.galeria__item._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.galeria__item img:hover {
  cursor: pointer;
}
@media (max-width: 400px) {
  .galeria__item img {
    max-width: 250px;
  }
}
.galeria__button {
  text-align: center;
}
@media (min-width: 1230px) {
  .galeria__button {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .galeria__button {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .galeria__button {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .galeria__button {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
.galeria__button button {
  background-color: transparent;
  color: #ffffff;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767px) {
  .galeria__button button {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .galeria__button button {
    font-size: calc(20px + 4 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .galeria__button button {
    height: calc(50px + 20 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .galeria__button button {
    height: calc(50px + 20 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .galeria__button button {
    width: calc(200px + 100 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .galeria__button button {
    width: calc(200px + 100 * (100vw - 320px) /1140);
  }
}
.galeria__button button:hover {
  background: #747474;
  transition: all 0.5s ease 0s;
}

.map {
  max-width: 1920px;
  height: 100vh;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.footer {
  background-image: linear-gradient(to right, #5328a1 0%, #782e0a 100%);
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1230px) {
  .footer__row {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .footer__row {
    padding-top: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (min-width: 1230px) {
  .footer__row {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .footer__row {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1140);
  }
}
@media (max-width: 500px) {
  .footer__row {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 500px) and (min-width: 1230px) {
  .footer__left {
    padding-bottom: calc(15px + 5 * (100vw - 320px) /1140);
  }
}
@media (max-width: 500px) and (max-width: 1230px) {
  .footer__left {
    padding-bottom: calc(15px + 5 * (100vw - 320px) /1140);
  }
}
.footer__title {
  color: #ffffff;
  font-family: "Lato - Black";
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer__title {
    font-size: calc(20px + 15.3 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .footer__title {
    font-size: calc(20px + 9 * (100vw / 1140));
  }
}
@media (min-width: 1230px) {
  .footer__title {
    padding-bottom: calc(10px + 5 * (100vw - 320px) /1140);
  }
}
@media (max-width: 1230px) {
  .footer__title {
    padding-bottom: calc(10px + 5 * (100vw - 320px) /1140);
  }
}
.footer__text {
  color: #ffffff;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer__text {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .footer__text {
    font-size: calc(12px + 2 * (100vw / 1140));
  }
}